{% extends "card/base.html.twig" %}

{% block title %}Start{% endblock %}

{% block body %}

<section class="main">
  <div class="container">
    <h2>Start</h2>
    <p>
      Welcome to a Game of Cards!
    </p>
  </div>
</section>
{% endblock %}