{% extends "base.html.twig" %}

{% block title %}Session{% endblock %}

{% block body %}
<section class="about">
  <a href="{{ path('session_delete') }}">Radera Session Data</a>
  <div class="container">
    <h2>Session Data</h2>
    <ul>
      {% for ln in session %}
          <li>{{ ln }}</li>
      {% endfor %}
    </ul>

    
    {{ include('flash.html.twig') }}
  </div>
</section>
{% endblock %}